.main-elements .top-elements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.info-chart {
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.lineChart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

#app-header {
  background-image: url('/images/barchart.png');
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Yanone Kaffeesatz;
  font-size: 80px;
  text-align: center;
  position: relative;
}

#app-header h1 {
  margin: 0;
}

/* FAVOURITES */

#notifications {
  position: absolute;
  right: 0;
  top: -10px;
}

button#notifications {
  background-image: url('/images/notifications.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  /* position: relative; */
}

button#notifications span {
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 5px 8px;
  border-radius: 30px;
  position: absolute;
  top: -5px;
}

#favourites {
  height: 100px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.infoContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.info-chart{
  text-align: center;
}

.info_news {
  padding-top: 38px;
  padding-right: 20px;
  width: 400px;
  height: 450px;
  overflow: auto;
  /* background-color: #F2F2F2; */
}

#company-industry{
  font-weight: bold;
}

/* ROTATOR */

.rotator {
  margin-bottom: 20px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px 5px 8px;
  background-color: black;
  color: white;
}

.rotator-text {
  display: inline-block;
  line-height: 0;
  padding-left: 110%;
  animation: rotator 40s linear infinite;
}

.rotator-text div {
  margin-left: 40px;
}
.rotator-text span span {
  margin-left: 20px;
}

@keyframes rotator {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.rotator-text span img {
  height: 10px;
  width: 10px;
}

/* PORTFOLIO TABLE */

.heart, .heart:hover, .heart_active {
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: none;
}

.heart {
  background-image: url('/images/heart.png');
}

.heart:hover, .heart_active {
  background-image: url('/images/heart_hover.png');
}

.stock-table {
  width: 85%;
  margin: auto;
  /* font-size: larger; */
}

.stock-table table {
  width: -webkit-fill-available;
}

.stock-table tr {
  line-height: 3em;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  margin: 2px;
}

.buy {
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
              0 3px 1px -2px rgba(76, 175, 80, 0.2),
              0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4caf50;
  border-bottom: 3px solid #39843B;
}

.buy:hover {
  margin: 4px 2px 2px 2px;
  border-bottom: 1px solid #39843B;
}

.sell {
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14),
              0 3px 1px -2px rgba(233, 30, 99, 0.2),
              0 1px 5px 0 rgba(233, 30, 99, 0.12);
  background-color: #e91e63;
  border-bottom: 3px solid #B7174D;
}

.sell:hover {
  margin: 4px 2px 2px 2px;
  border-bottom: 1px solid #B7174D;
}

.ellipsis {
  cursor: pointer;
}

/* SELL OPTIONS POP UP */
.red-border { border: 3px #e91e63 solid; }
.green-border { border: 3px #4caf50 solid; }
.popup {
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -100px;
  overflow: hidden;
  z-index: 5500;
  animation: showSweetAlert 0.3s ease 0s 1 normal none running;
}

/* SEARCH BOX */

.stock-search {
  width: 240px;
  font-size: 20px;
  margin-left: 20px;
}

.stock-search h2 {
  font-size: 32px;
}

.stock-search input[type=text] {
  height: 36px;
  width: -webkit-fill-available;
  font-size: 14px;
}

/* INFOCHART */

.time {
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14),
              0 3px 1px -2px rgba(233, 30, 99, 0.2),
              0 1px 5px 0 rgba(233, 30, 99, 0.12);
  background-color: lightpink;
  border-bottom: 3px solid orange;
}

.time:hover {
  border-bottom: 1px solid orange;
}

/* FOOTER */

#footer {
  margin-top: 30px;
  background-color: #AFD3D3;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  /* margin-bottom: 5px; */
  width: 100%;
}

.mission-statement {
  display: flex;
  float: right;
}

#footer-content {
  text-align: center;
  vertical-align: bottom;
  color: white;
  display: flex;

}

#footer-image img{
  width: 300px;
  height: 300px;
}

.text-and-impressum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#mission-statement {
  /* margin: 0px auto 50px; */
  font-size: 18px;
  width: 87%;
  float: right;
  /* padding-right: 40px; */
  /* text-shadow: 1px 1px grey; */
}

#impressum {
  /* position:  */
  bottom: 0;
  background-color: #AFD3D3;
  width: 60%;

  float: right;
  font-size: 18px;
  margin-top: 0px;
  /* margin-left: 300px; */
  /* padding-left: 40px; */

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
}

#impressum a {
  text-decoration: none;
  color: white;
}

#impressum a:hover {
  text-decoration: underline;
}

#impressum a img {
  margin-bottom: -10px;
  margin-left: 10px;
  height: 50px;
}

.intro {
  text-align: center;
  font-size: 20px;
}
