/* .main-elements {

  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;

} */

.main-elements .top-elements {

  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}


.top-elements .stock-table {

  border-style: solid;
  width: 60%;


}

.found-stock {

  border-style: solid;
  width: 30%;

}

.info-chart {

  border-style: solid;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;



}
