.main-elements {

  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;

}

.main-elements .top-elements {

flex: 1;
flex-direction: row;

}


.top-elements .stock-table {

  border-style: solid;
  /* width: 66%; */
  flex: 1;

}

.found-stock {

  border-style: solid;
  /* width: 33%; */

}

.info-chart {

  border-style: solid;
  width: 80%;
  flex: 1;


}
