.main-elements .top-elements {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-chart {
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.lineChart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

/* ROTATOR */

.rotator {
  margin-bottom: 10px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px 5px 8px;
  background-color: black;
  color: white;
}

.rotator-text {
  display: inline-block;
  line-height: 0;
  padding-left: 110%;
  animation: rotator 40s linear infinite;
}

.rotator-text span {
  margin-left: 40px;
}
.rotator-text span span {
  margin-left: 20px;
}

@keyframes rotator {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* PORTFOLIO TABLE */

.heart {
  background-image: url('../images/heart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  border: none;
}

.heart:hover, .heart.active {
  background-image: url('../images/heart_hover.png');
  cursor: pointer;
}

.stock-table tr {
  margin-bottom: 5px;
}

.stock-table tr:nth-child(even) {
  border-bottom: 1px solid #eee;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  margin: 2px;
}

.buy {
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
              0 3px 1px -2px rgba(76, 175, 80, 0.2),
              0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4caf50;
  border-bottom: 3px solid #39843B;
}

.buy:hover {
  margin: 4px 2px 2px 2px;
  border-bottom: 1px solid #39843B;
}

.sell {
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14),
              0 3px 1px -2px rgba(233, 30, 99, 0.2),
              0 1px 5px 0 rgba(233, 30, 99, 0.12);
  background-color: #e91e63;
  border-bottom: 3px solid #B7174D;
}

.sell:hover {
  margin: 4px 2px 2px 2px;
  border-bottom: 1px solid #B7174D;
}

.ellipsis {
  cursor: pointer;
}

.ellipsis: hover {

}


/* SELL OPTIONS POP UP */
.red-border { border: 3px #e91e63 solid; }
.green-border { border: 3px #4caf50 solid; }
.popup {
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -100px;
  overflow: hidden;
  z-index: 5500;
  animation: showSweetAlert 0.3s ease 0s 1 normal none running;
}

/* FOOTER */

#footer {
  margin-top: 30px;
  background-color: #AFD3D3;
  background-image: url('../images/footer.jpg');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#impressum {
  margin-top: 280px;
}

#footer-content {
  text-align: center;
  vertical-align: bottom;
  color: white;
  font-size: 18px;
}

#footer-content a {
  text-decoration: none;
  color: white;
}

#footer-content a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}
