body {
  font-family: Raleway;
  /* can write padding/margin as oneliner */
  margin: 5px 25px 10px 25px;
  padding: 30px ;
}

#app-header {
  font-family: Yanone Kaffeesatz;
  font-size: 80px;
  text-align: center;
  margin-top: 10px;
}

/* Removes blue outline from buttons in Chrome */
button:focus {
  outline: 0;
}
