#app-header {

  font-family: Yanone Kaffeesatz;
  font-size: 80px;
  text-align: center;
  margin-top: 20px;

}

body {

  font-family: Raleway;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;

}

#mission-statement {

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;

}
