body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

th {
  text-align: left;
}

.ellipsis {
  max-width: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#stock-table-search {
  display: flex;
}

/* GENERIC */

.box{
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  border-radius: 6px;
}
